<h1>presets is mandatory, templates only if u want it available inside a speficic object</h1>

{%- schema -%}
{
    "name":"Liquid Reference",
    "settings": [
        {
            "id":"liquid-ref",
            "type":"text",
            "label":"A Reference for Shopify Liquid"
        }
    ],
    "templates":["index","page","product"], 
    
    "presets":[
        {
            "name":"Liquid Reference",
            "category":"Reference"
        }
    ]    
    
}
{%- endschema -%}