<h1>see if it works</h1>

{%- schema -%}
{
    "name":"Liquid Reference",
    "setting": [
        {
            "id":"liquid-ref",
            "type":"text",
            "label":"A Reference for Shopify Liquid"
        }
    ],
    "presets":[
        {
            "name":"Liquid Reference",
            "category":"Reference"
        }
    ]
}
{%- endschema -%}