<h1>this work</h1>

{%- schema -%}
{
    "name":"Liquid Reference",
    "setting": [
        {
            "id":"liquid-ref",
            "type":"text",
            "label":"A Reference for Shopify Liquid"
        }
    ],
    "templates":["index","page","product"]
    
}
{%- endschema -%}